[submodule "api-technology"]
	path = api-technology
	url = https://github.com/LoperaUr/api-technology
[submodule "api-capability"]
	path = api-capability
	url = https://github.com/LoperaUr/api-capability
